---
layout: page
title: Tags
tagline: identify the content of a post. Many can be used simultaneously
header: Posts By Tag
group: navigation
---
{% include JB/setup %}

<div class="accordion" id="accordion2">
{% for tag in site.tags %}
{% assign pages_list = tag[1] %}
	<div class="accordion-group">
	  <div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ tag[0] }}">
		  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }} <small>{{ tag[1].size }} posts</small></h2>
		</a>
	  </div>
	  
	  <div id="{{ tag[0] }}" class="accordion-body collapse">
		<div class="accordion-inner">
		{% for post in pages_list %}
			{% include postpreview %}
	    {% endfor %}
		</div>
	  </div>
	</div>
{% endfor %}
</div>
