/* Override some defaults */
html, body {
  background-color: #efefef;
  background: #efefef url(http://subtlepatterns.com/patterns/egg_shell.png) top left repeat;
  -webkit-font-smoothing:antialiased;
}
.navbar {
  margin: 0px -20px 0px -20px;
  
}
.tagline{
  opacity:0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.alert-disabled {
  background-color: #eeeeee;
  border-color: #ddd;
  color: #535353;
}
.thin, hr{
  margin: 8px 0;
  border-top: 1px solid #bebebe
}
.listgap dt,dd{
  margin-bottom: 8px
}
img{
-webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
a:hover,a code:hover{color:#2DA6E3;-webkit-transition:all .37s linear;transition:all 0.35s linear}
/* The white background content wrapper */
.content {
  background-color: #fafafa;
  
  background: #fafafa url(http://subtlepatterns.com/patterns/redox_01.png) top left repeat;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}

.navbar .brand {
padding: 8px 13px 4px; 
}
.navbar .nav > li > a.brand-image {
padding: 3px 4px 0px 0px;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #cfcfcf;
	color:#006774;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
.tag_box a:hover {
	border:1px solid #006774;
}
