<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.title }} | {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	<link href="{{ ASSET_PATH }}/css/pygments.css" rel="stylesheet" type="text/css" media="all">
	
    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  {% include JB/analytics %}
  </head>
  <body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
			<li><a class="brand-image" href="{{ HOME_PATH }}"><img class="brand-image" src="{{ASSET_PATH}}/nolatbadge.png"/></a></li>
			<li><a href="/about">About</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				{% assign pages_list = site.pages %}
				{% assign group = 'navigation' %}
				{% include JB/pages_list %}	
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact Me<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
				<li><a href="#contact_modal" data-toggle="modal">Quick Message</a></li>
				<li><a href="mailto:talondaniels?subject=[Nolat]"><img src="https://mail.google.com/favicon.ico"/> Email</a></li>
				<li><a href="https://www.facebook.com/talon.daniels"><img src="https://facebook.com/favicon.ico"/> Facebook</a></li>
				<li><a href="https://twitter.com/intent/tweet?text=@TalonDaniels"><img src="https://twitter.com/favicon.ico"/> Twitter</a></li>
				</ul>
			</li>
			
          </ul>
		  <p id="tagline" class="navbar-text pull-right tagline">{{ site.tagline }}</p>
        </div>
      </div>
    </div>
	<!-- contact modal -->
	<div id="contact_modal" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Contact Me</h3>
		</div>
		<div id="contact_modal_body" class="modal-body">
			<form id="modal-form" accept-charset="UTF-8" class="form-horizontal">
				  <div class="control-group">
					<label class="control-label" for="input01">Your email</label>
					<div class="controls">
					  <input name="email" type="text" class="input-xlarge" id="input01" placeholder="example@domain.com">
					  <p class="help-block">I can't reply if you don't include your email.</p>
					</div>
				  </div>
				  <div class="control-group">
					<label class="control-label" for="textarea">Message</label>
					<div class="controls">
					  <textarea name="message" class="input-xlarge" id="textarea" rows="4"></textarea>
					</div>
				  </div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" onclick="$('#contact_modal').modal('hide')">Cancel</a>
			<a id="modal-form-submit" class='btn btn-primary' href="#">Send</a>
		</div>
	</div>
	<!-- end contact modal -->
	
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
      <footer>
        <p>&copy; {{ site.title }} {{ site.time | date: "%Y"}} | Last Updated: {{ site.time | date: "%h %d %Y" }}</p>
      </footer>
    </div> <!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$.ajax({
			url: "http://apps.talon876.cloudbees.net/quotes",
			}).done(function( html ) {
			$("#tagline").html(html);
		}, function(){
			$('#tagline').animate({'opacity': 1}, 1000);
		});
		
		$('#modal-form-submit').on('click', function(e){
			e.preventDefault();
			$('#modal-form').submit();
		});
		$('#modal-form').on('submit', function(){
			$.post("http://apps.talon876.cloudbees.net/message", $(this).serialize(), function(){
				$('#contact_modal_body').html('<h3>Message has been sent.</h3>');
				$('#modal-form-submit').addClass("disabled");
				$("#contact_modal").fadeOut('slow', function(){
					$(this).modal('hide');
				});
			});
		  return false;
		});
	</script>
  </body>
</html>
