<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="Prev: {{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
      {% else %}
        <li class="prev disabled"><a>The End!</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archives</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="Next: {{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>New post soon! &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
  <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="Prev: {{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>The End!</a></li>
      {% endif %}
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="Next: {{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>New post soon! &rarr;</a>
      {% endif %}
      </ul>
    </div>

    <h4>Published</h4>
    <div class="date"><span>{{ page.date  | date_to_long_string }}</span></div><br>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul><br>
  {% endunless %}
  
  {% unless site.related_posts == empty %}
  {% if site.lsi == true %}
	<h4>Related Posts</h4>
  {% else %}
	<h4>Other Posts</h4>
  {% endif %}
	  <ul>
	  {% for post in site.related_posts limit: 3 %}
		<li><h4><a href="{{BASE_PATH}}{{post.url}}">{{post.title}}</a> <small>in {{post.category}}</small></h4></li> 
	  {% endfor %}
	  </ul>
   {% endunless %}
  </div>
</div>
